<div class="container">
  @if (!endExercise) {
  <div class="main">
    <div class="back"></div>
    <h1>{{ this.exercise[this.index].example }}</h1>
  </div>
  <div class="text">
    <p>ВЫБЕРИТЕ ОТВЕТ</p>
    @if (rightAnswer) {
    <div class="right-status">
      <p>Вы ответили ВЕРНО!</p>
    </div>
    }
    @if (fakeAnswer) {
    <div class="fake-status">
      <p>Вы ответили НЕВЕРНО!</p>
    </div>
    }
  </div>
  <div class="answer">
    @for (item of exercise[index].fake; track $index) {
    <button (click)="answerClick(item)">
      <div class="but-text">{{ item }}</div>
      <img src="../assets/image/box.svg" alt="Картинка">
    </button>
    }
  </div>
  }
  @else {
  <div class="end">
    <h1>Конец ...</h1>
  </div>
  }
</div>